[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-telegram-bot = "*"
python-dotenv = "*"
pusher = "*"

[requires]
python_version = "3.7"
